<body class='SMstreet'>
    <header class="display-flex justify-space-between align-center p-2">
        <h1>
            <span role="img" aria-label="money"></span>
            <a class="fst-italic lh-1 mb-4" href="/">[ PARKSMART ]</a>
            <span role="img" aria-label="money"></span>
        </h1>
    </header>
    <form class="logInForm">
        <div class="card logInCard" style="width: 18rem;">
            <div class="card-body">
            <h5 class="card-title ">Welcome to the Neighborhood!</h5>
            <div class="form-group">
                <label for="exampleInputEmail1"></label>
                <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Email Address">
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1"></label>
                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
              </div>
              <div class="login-button">
              <button type="submit" class="btn btn-success login-button">Login</button>
              </div>
              <span> OR </span>
              <div class="signup-button">
                <button type="submit" class="btn btn-danger signup-button">Sign Up</button>
                </div>
            </div>
        </div>
      </form>
    <script src="./js/login.js"></script>
    </body>
