<header class="display-flex justify-space-between align-center p-2">
    <h1>
        <span role="img" aria-label="money">🚗</span>
        <a href="/">Park Smart</a>
        <span role="img" aria-label="money">🚙</span>
    </h1>
    <nav>
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="../homepage">My Neighborhood</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="../login">login</a>
        {{/if}}
    </nav>
</header>
<main>
    <div class="container">
        <div class="row">
            <div class="col-2 black"></div>
            <div class="col-1 black top-horizontal">
                <button class="w-100 one">1</button>
            </div>
            <div class="col-1 black top-horizontal">
                <button class="w-100 two">2</button>
            </div>
            <div class="col-1 black top-horizontal">
                <button class="w-100 three">3</button>
            </div>
            <div class="col-1 black top-horizontal">
                <button class="w-100 four">4</button>
            </div>
            <div class="col-1 black top-horizontal">
                <button class="w-100 five">5</button>
            </div>
            <div class="col-1 black top-horizontal">
                <button class="w-100 six">6</button>
            </div>
            <div class="col-1 black top-horizontal">
                <button class="w-100 seven">7</button>
            </div>
            <div class="col-1 black top-horizontal right-white">
                <button class="w-100 eight">8</button>
            </div>
            <div class="col-2 black"></div>
        </div>
        <div class="row">
            <div class="col-1 black"></div>
            <div class="col-1 black left-horizontal top-white">
                <button class="w-100 top-margin vertical-button twenty-four">24</button>
            </div>
            <div class="col-8"></div>
            <div class="col-1 black right-horizontal top-white">
                <button class="w-100 top-margin vertical-button nine">9</button>
            </div>
            <div class="col-1 black"></div>
        </div>
        <div class="row">
            <div class="col-1 black"></div>
            <div class="col-1 black left-horizontal top-white">
                <button class="w-100 top-margin vertical-button twenty-three">23</button>
            </div>
            <div class="col-8" style="text-align:center; font-size: 30px;">Welcome to your Neighborhood!</div>
            <div class="col-1 black right-horizontal top-white">
                <button class="w-100 top-margin vertical-button ten">10</button>
            </div>
            <div class="col-1 black"></div>
        </div>
        <div class="row">
            <div class="col-1 black"></div>
            <div class="col-1 black left-horizontal top-white">
                <button class="w-100 top-margin vertical-button twenty-two">22</button>
            </div>
            <div class="col-8" style="text-align:center; font-size: 40px;">🚗 🚙</div>
            <div class="col-1 black right-horizontal top-white">
                <button class="w-100 top-margin vertical-button eleven">11</button>
            </div>
            <div class="col-1 black"></div>
        </div>
        <div class="row">
            <div class="col-1 black"></div>
            <div class="col-1 black left-horizontal top-white bottom-white">
                <button class="w-100 top-margin vertical-button twenty-one">21</button>
            </div>
            <div class="col-8"></div>
            <div class="col-1 black right-horizontal top-white bottom-white">
                <button class="w-100 top-margin vertical-button twelve">12</button>
            </div>
            <div class="col-1 black"></div>
        </div>
        <div class="row">
            <div class="col-2 black"></div>
            <div class="col-1 black bottom-horizontal">
                <button class="w-100 twenty">20</button>
            </div>
            <div class="col-1 black bottom-horizontal">
                <button class="w-100 nineteen">19</button>
            </div>
            <div class="col-1 black bottom-horizontal">
                <button class="w-100 eighteen">18</button>
            </div>
            <div class="col-1 black bottom-horizontal">
                <button class="w-100 seventeen">17</button>
            </div>
            <div class="col-1 black bottom-horizontal">
                <button class="w-100 sixteen">16</button>
            </div>
            <div class="col-1 black bottom-horizontal">
                <button class="w-100 fifteen">15</button>
            </div>
            <div class="col-1 black bottom-horizontal">
                <button class="w-100 fourteen">14</button>
            </div>
            <div class="col-1 black bottom-horizontal right-white">
                <button class="w-100 thirteen">13</button>
            </div>
            <div class="col-2 black"></div>
        </div>
    </div>
</main>
<script src="../public/js/neighborhood.js"></script>