
/* added for video */
body {
  margin: 0;
  font-family: var(--bs-body-font-family);
  font-size: var(--bs-body-font-size);
  font-weight: var(--bs-body-font-weight);
  line-height: var(--bs-body-line-height);
  color: var(--bs-body-color);
  text-align: var(--bs-body-text-align);
  background-color: var(--bs-body-bg);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

/* First two cards */
.card-1 {
  background-color: rgba(203, 225, 220, 0.454);
}

.card {
  text-align:center;
  background-color: rgba(241, 245, 245, 0.927);
  
}

a {
  text-decoration: none;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(var(--bs-gutter-y) * -1);
  margin-right: calc(var(--bs-gutter-x) * -.5);
  margin-left: calc(var(--bs-gutter-x) * -.5);
  justify-content: center;
}

/* Neighborhood Card */
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }
  .flex.row {
    flex-direction: row; }
  .flex.wrap {
    flex-wrap: wrap; }

/* Neighborhood Card*/
section{
  color: #616161;
  position:relative;
}
/* Neighborhood Card*/
.header {
  font-size: 25pt;
  font-family: 'raleway-bold';
  position: 'center';
  color: #444649;
  position: relative; }




/* .no-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  color: rgba(206, 185, 0, 0.9);
  text-decoration: none;
  font-size: 100%;
}

.no-button:hover {
  color: #065b83;
}

.dollar-amount {
  color: #056605;
  font-weight: bold;
  margin-left: -5px;
} */

.false, .green {

  background-color: green;
}

.true, .red {

  background-color: red;
}

.taken, .notTaken {

  display: none;
}

.aerial-road {

  background-image: url('../assets/img/neighborhoodparking.jpeg');
  padding-bottom: 40px;
  background-repeat: no-repeat;
  background-size: 100% auto;
}

.SMstreet {

  background-image: url('../assets/img/parking-spot.jpeg');
  background-repeat: no-repeat;
  background-size: 100% auto;
}

header {

  height: 150px;
  background-color:  rgba(15, 82, 66, 0.509);
  color: rgba(206, 185, 0, 0.9);
}

a {
  color: white;
}

h1 {

  margin-left: 40px;
  font-size: 50px;
  display: inline-block;
  line-height: 120px;
}

nav {

  float: right;
  line-height: 120px;
}

.logInForm {

  width: 35%;
  height: auto;
  margin: 100px auto;
}

.logInCard {

  margin: auto;
}

.login-button {

  margin: 40px auto 10px;
  text-align: center;
}

.signup-button {

  margin-top: 10px;
}

main {

  margin-top: 50px;
}

.welcome {

  text-align:center; 
  font-size:30px; 
  color:white;
  /* background-color; */
  padding-top: 10px;
}


.black {

  background: black;
}

button {

  border-radius: 3px;
}

.top-horizontal {

  padding-bottom: 20px;
  padding-top: 20px;
  border-bottom: 2px solid black;
  border-left: 5px solid white;
}

.right-white {

  border-right: 5px solid white;
}

.top-white {

  border-top: 5px solid white;
}

.bottom-white {

  border-bottom: 5px solid white;
}

.vertical-button {

  margin-bottom: 20px;
}

.top-margin {

  margin-top: 20px;
}

.left-horizontal {

  border-right: 2px solid black;
}

.right-horizontal {

  border-left: 2px solid black;
}

.bottom-horizontal {

  padding-bottom: 20px;
  padding-top: 20px;
  border-top: 2px solid black;
  border-left: 5px solid white;
}
/* time slider css */
#custom-handle {
  width: 3em;
  height: 1.6em;
  top: 50%;
  margin-top: -.8em;
  text-align: center;
  line-height: 1.6em;
}

/* Video css */
video.bg-video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  transform: translateX(-50%) translateY(-50%);
  z-index: 0;
}

@media (pointer: coarse) and (hover: none) {
  body {
    background: url("../assets/img/bg-mobile-fallback.jpg") #2a5555 no-repeat center center scroll;
    background-size: cover;
  }

  body video {
    display: none;
  }
}

.masthead {
  position: relative;
  overflow: hidden;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
}
.masthead:before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(15, 82, 66, 0.509);

}
.masthead .masthead-content {
  position: relative;
  max-width: 40rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
}
.masthead .masthead-content h1, .masthead .masthead-content .h1 {
  font-size: 2.5rem;
}
.masthead .masthead-content p {
  font-size: 1.2rem;
}
.masthead .masthead-content p strong {
  font-weight: 700;
}
.masthead .masthead-content .input-group-newsletter input {
  height: auto;
  width: 100%;
  font-size: 1rem;
  padding: 1rem;
}
.masthead .masthead-content .input-group-newsletter button {
  font-size: 0.85rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  padding: calc(1rem + 2px);
  justify-content: center;
}

@media (min-width: 992px) {
  .masthead {
    height: 40vh;
    width: 100%;
    min-height: 0;
    padding-bottom: 0;
  }
  .masthead:before {
   
    transform-origin: top right;
  }
  .masthead .masthead-content {
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 2rem;
    padding-right: 9rem;
  }
  .masthead .masthead-content h1, .masthead .masthead-content .h1 {
    font-size: 3.5rem;
  }
  .masthead .masthead-content p {
    font-size: 1.3rem;
  }
}
@media (min-width: 1200px) {
  .masthead {
    width: 100%;
    height: 50vh;
  }
}
.social-icons {
  position: relative;
  z-index: 2;
}
.social-icons .btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 0;
  height: 4rem;
  width: 4rem;
  border-radius: 100rem;
}

@media (min-width: 992px) {
  .social-icons {
    margin-top: 20px;
    margin-bottom: 20px;
    /* position: absolute;
    height: 100%;
    top: 0;
    right: 2.5rem;
    width: auto; */
  }
}

/* Portfolio */
@media screen and (min-width: 600px){
section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
}}

@media screen and (min-width: 960px){
.animated.slide-in-right {
    animation: slideInRight 0.75s ease both;
}}

@media screen and (min-width: 600px)
{
.header {
    font-size: 30pt;
}}

@media screen and (min-width: 600px){
section {
    line-height: 18pt;
    padding: 100px 0 130px 0;
}}